
@{
    ViewData["Title"] = "ActivationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User has been Successfully Activated</h1>
<div>
    <a asp-action="Index" asp-controller="Account">Return to Home Page</a>
</div>